<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Registráte como usuario</h2>
		<form class="form-horizontal" method="post" action="/signup" th:object="${user}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="username">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username"
						placeholder="99999999Y" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Nombre:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name"
						placeholder="Ejemplo: Juan" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="surname1">First Surname:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="surname1"
						placeholder="Ejemplo: Peréz" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('surname1')}" th:errors="*{surname1}">
				</div>
				<label class="control-label col-sm-2" for="surname2">Second Surname:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="surname2"
						placeholder="Ejemplo: Almonte" required="true" />
					<span class="text-danger" th:if="${#fields.hasErrors('surname2')}" th:errors="*{surname2}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="password">Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password"
						placeholder="Entre el Password" />
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="passwordConfirm">Repita
					el Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="passwordConfirm"
						placeholder="Repita el Password" />
					<span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>