
<!-- Topbar -->
<nav
	class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

	<!-- Sidebar Toggle (Topbar) -->
	<button id="sidebarToggleTop"
		class="btn btn-link d-md-none rounded-circle mr-3">
		<i class="fa fa-bars"></i>
	</button>

	<!-- Topbar Navbar -->
	<ul class="navbar-nav ml-auto">
			
		<!-- Lenguaje -->
		<li class="nav-item dropdown no-arrow mx-1"><a
			class="nav-link dropdown-toggle" href="#" id="languaje"
			role="button" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"> 
			<i class="fas fa-globe-americas"></i>
			<span id="prueba" th:text="#{language.short}"></span>
			</a>
			<div
				class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
				aria-labelledby="messagesDropdown">
				<h6 class="dropdown-header" th:text="#{language}">Idiomas</h6>
				
				<a id="btnSpanish" value="ES" class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" th:src="@{/img/if_spain_flag.png}">
					</div>
					<div>
						<div class="text-truncate" th:text="#{language.es}"></div>
					</div>
				</a>
				
				<a id="btnEnglish" value="EN" class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" th:src="@{/img/if_uk_flag.png}">
					</div>
					<div>
						<div class="text-truncate" th:text="#{language.en}"></div>
					</div>
				</a>
			</div>
		</li>
		<!-- End of Lenguaje -->

		<div class="topbar-divider d-none d-sm-block"></div>

		<!-- Nav Item - User Information -->
		<li class="nav-item dropdown no-arrow"><a
			class="nav-link dropdown-toggle" href="#" id="userDropdown"
			role="button" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"> <span
				class="mr-2 d-none d-lg-inline text-gray-600 small">
				[[${#httpServletRequest.remoteUser}]]</span> 
				<img class="img-profile rounded-circle"
					th:src="@{/img/login_doggy_2.jpg}"
					alt="user photo">
		</a> <!-- Dropdown - User Information -->
			<div
				class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
				aria-labelledby="userDropdown">
				<a class="dropdown-item" href="/logout"> <i
					class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					<span th:text="#{logOut.menu}" ></span>
				</a>
			</div>
		</li>
	</ul>

</nav>
<!-- End of Topbar -->