<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
        <div class="sidebar-brand-icon">
        	<img src="/img/uvis_icon.png" alt="logo"/>
        </div>
        <div class="sidebar-brand-text" th:text="#{uvis}"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Home -->
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span th:text="#{home}">Home</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading" th:text="#{actions}">
        Actions
      </div>

      <!-- Nav Item - Carteras Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-wallet"></i>
          <span th:text="#{wallet}">Wallets</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header" th:text="#{options}">Opciones:</h6>
            <a class="collapse-item" href="/wallet/directory" th:text="#{wallet.view.all}">View</a>
            <a class="collapse-item" href="/wallet" th:text="#{wallet.view}">Add</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Transacciones Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-credit-card"></i>
          <span th:text="#{transaction}">Transactions</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header" th:text="#{options}">Opciones:</h6>
            <a class="collapse-item" href="/transaction/list" th:text="#{transaction.view.list}">Colors</a>
            <a class="collapse-item" href="/transaction" th:text="#{transaction.add}">Borders</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" aria-label="hide"></button>
      </div>

    </ul>