<!DOCTYPE html>
<html lang="es">

<head th:replace="fragments/head" />

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h1 text-gray-900 mb-1" th:text="#{uvis}">Uvis</h1>
                    <hr>
                    <h2 class="h4 text-gray-900 mb-4" th:text="#{welcome}">Welcome</h2>
                  </div>
                  <form class="user" method="post" action="/login">
                    <div class="form-group">
                      <label class="control-label col-sm-12" for="username" th:text="#{username}"></label>
                      <input type="email" class="form-control form-control-user" name="username"
                      		aria-describedby="emailHelp" th:placeholder="#{username.placeholder}" required="true"/>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-12" for="password" th:text="#{password}"></label>
                      <input type="password" class="form-control form-control-user" name="password"
                      		th:placeholder="#{password.placeholder}" required="true"/>
                    </div>
                    <div class="form-group">
						<button type="submit" class="btn btn-primary btn-user btn-block" th:text="#{login.button}"></button>
					</div>
                  </form>
                  <hr>
                  <div class="text-center">
                  	<h2 class="h4 text-gray-900 mb-4" th:text="#{account.question}">Account</h2>
                    <button type="submit" class="btn btn-primary btn-user btn-block" th:text="#{signup.menu}"></button>
                  </div>
                  <hr>
                  <div class="text-center">
                  	<p th:text="#{language.message}">
                  		<ul id="languageDropdownMenuButton">
						<li><a id="btnEnglish" value="EN"> <img
								th:src="@{/img/if_uk_flag.png}"
								style="border: 0; float: left; margin-right: 15px" /> <span
								th:text="#{language.en}"></span>
						</a></li>
						<li><a id="btnSpanish" value="ES"> <img
								th:src="@{/img/if_spain_flag.png}"
								style="border: 0; float: left; margin-right: 15px" /> <span
								th:text="#{language.es}"></span>
						</a></li>
					</ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>
